@model CarRental3.ViewModels.BookingFormViewModel

@{
    ViewData["Title"] = "Create Booking";
}

<h1>Create Booking</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CarId" class="control-label">Car</label>
        <select asp-for="CarId" class="form-control" asp-items="@(new SelectList(Model.Cars, "CarId", "Brand"))"></select>
        <span asp-validation-for="CarId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label">User</label>
        <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(Model.Users, "UserId", "UserName"))"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Start Date</label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label">End Date</label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
