@{
    ViewData["Title"] = "Admin Index";
}

<h1>Admin Index</h1>

<p>Welcome to the Admin Dashboard!</p>

<p>
    <a asp-action="AdminDashBoard" class="btn btn-primary">Go to Admin Dashboard</a>
</p>
