@model CarRental3.ViewModels.HomeLoginViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="navbar">
</div>

<div class="content-container">
    <h1 class="centered-title">Welcome</h1>
    <img src="~/images/Friberg Car Rentals.jpg" alt="Car Rental Image" class="centered-image" />
    <p>Explore our available cars and manage your bookings easily.</p>
</div>


